{% extends "layout_admin.html.twig" %}

{% block body %}
    <a href="{{ constant('ROOT_URL') }}admin/partenaires">Revenir aux Partenaires</a>
<h1>Ceci est le form edit de {{ partner.name }}</h1>

<form action="" method="post"  enctype="multipart/form-data">
    <div class="title">
        <label for="title">Nom</label>
        <input type="text" value="{{ partner.name }}" name="nom">
    </div>
    <div class="title">
        <label for="link">Lien Iframe</label>
        <input type="text" value="{{ partner.link }}" name="link">
    </div>
    <div class="title">
        <label for="localisation">Localisation</label>
        <input type="text" value="{{ partner.location }}" name="localisation">
    </div>
    <input type="hidden" name="id" value="{{ partner.id }}">
    <input type="submit" class="btn btn-default">
</form>

{% endblock %}
