{% extends "layout_admin.html.twig" %}

{% block body %}
<p>{{ message.id }}</p>
<p>{{ message.raison_sociale }}</p>
<p>{{ message.nom }}</p>
<p>{{ message.telephone }}</p>
<p>{{ message.mail }}</p>
<p>{{ message.service }}</p>
<p>{{ message.message }}</p>
{% endblock %}