{% extends "layout_admin.html.twig" %}

{% block body %}
    <h1>Liste des Partenaires</h1>
    <div class="table">
        <div class="table-row table-head">
            <div class="table-cell">Nom</div>
            <div class="table-cell">Lien Iframe</div>
            <div class="table-cell">Localisation</div>
            <div class="table-cell">Visible Appel d'offre</div>
            <div class="table-cell">Action</div>
        </div>
        {% for partner in partners %}
            <a href="{{ constant('ROOT_URL') }}admin/partenaires/{{ partner.id }}" class="table-row">
                <div class="table-cell">{{ partner.name }}</div>
                <div class="table-cell">{{ partner.link }}</div>
                <div class="table-cell">{{ partner.location }}</div>
                <div class="table-cell">
                    {% if partner.visible_front == 1 %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </div>
                <div class="table-cell">
                    <a href="{{ constant('ROOT_URL') }}admin/partenaires/{{ partner.id }}/visible" class="btn btn-default">Front Page</a>
                    <a href="{{ constant('ROOT_URL') }}admin/partenaires/{{ partner.id }}/delete" class="btn btn-danger">Supprimer</a>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}