{% extends "layout_admin.html.twig" %}
{% block body %}
<section>
{% for message in messages %}
    <div>
        <article class="article">
            <a href="/admin/contact/{{ message.id }}">
                <p>{{ message.id }}</p>
            </a>
            <p>{{ message.raison_sociale }}</p>
            <h2>{{ message.nom }}</h2>
            <p>{{ message.telephone }}</p>
            <p>{{ message.mail }}</p>
            <p>{{ message.service }}</p>
            <p>{{ message.message }}</p>
        </article>
    </div>
{% endfor %}
</section>
{% endblock %}