{% extends "layout_admin.html.twig" %}

{% block body %}
<h1>Ceci est le form edit de {{ magazine.title }}</h1>

<form action="" method="post"  enctype="multipart/form-data">
    <div class="title">
    	<label>Titre</label>
    	<input type="text" value="{{ magazine.title }}" name="title">
	</div>
    <div class="synopsis">
    	<p>Synopsis</p>
    	<textarea type="text" name="synopsis">{{ magazine.synopsis }}</textarea>
        <label for="">Numéro du magazine</label>
        <input type="int" name="number" value="{{ magazine.number }}">
	</div>
    <div class="images">
        <div class="image_primary">
            <label for="">Image Primaire</label>
    	    <input type="file" value="" name="image">
            <input type="hidden" value="{{ magazine.image }}" name="lastimage">
        </div>
        <div class="image_secondary">
            <label for="">Image Secondaire</label>
            <input type="file" name="secondary_image">
            <input type="hidden" value="{{ magazine.secondary_image }}" name="lastimage_secondary">
        </div>
    </div>
    <div class="images">
        <div class="image_primary">
            <label for="">Alternative Première image</label>
            <input type="text" value="{{ magazine.alt }}" name="alt">
        </div>
        <div class="image_secondary">
            <label for="">Alternative Seconde image</label>
            <input type="text" name="secondary_alt" value="{{ magazine.secondary_alt }}">
        </div>
    </div>
    <div class="test">
        <div class="date">
            <label for="">Année de Parution</label>
            <input type="text" value="{{ magazine.date }}" name="date">
        </div>
    </div>
    <div class="link">
        <label for="">Lien PDF</label>
        <input type="text" value="{{ magazine.link }}" name="link">
    </div>
    <div class="location">
        <div class="localisation_primaire">
            <label for="">Localisation</label>
            <input type="text" name="localisation" value="{{ magazine.location }}">
        </div>
        <div class="localisation_secondaire">
            <label for="">Localisation secondaire (si nécessaire)</label>
            {% if magazine.secondary_location == 'empty' %}
                <input type="text" value="" name="localisation_secondaire">
            {% else %}
                <input type="text" name="localisation_secondaire" value="{{ magazine.secondary_location }}">
            {% endif %}

        </div>
    </div>
    <input type="hidden" name="id" value="{{ magazine.id }}">
	<input type="submit" class="btn btn-default">
</form>

<div>
    <img src="/assets/img-content/{{ magazine.image }}" alt="">
    {% if magazine.secondary_image %}
        <img src="/assets/img-content/{{ magazine.secondary_image }}" alt="">
    {% endif %}
</div>

<p>Partenaires actuels</p>
<ul>
	{% for partenaires in actual_partenaires %}
		<li>{{ partenaires.partner_name }}</li>
	{% endfor %}
</ul>


<p>Partenaires disponibles</p>
<ul class="partner_available">
    {% for partner in list_partenaires %}
        <li data-id="{{ partner.id }}" data-mag="{{ magazine.id }}">{{ partner.name }}</li>
    {% endfor %}
</ul>
    <script src="/assets/js/partnership_api.js"></script>
{% endblock %}