{% extends "layout_front.html.twig" %}
{% block body_nav  %}
<body class="julie">
{% endblock %}
{% block body %}
    <div class="view_all clearfix">
        <h1 class="parutions_title">nos dernières parutions</h1>
        <a href="{{ constant('ROOT_URL') }}toutes-les-revues">Voir toutes les parutions</a>
    </div>
    <section class="listing_mags">
        {% for magazine in magazines %}
            <article>
                <a href="{{ constant('ROOT_URL') }}revue/{{ magazine.id }}">
                    <figure>
                        <img src="assets/img-content/{{ magazine.image }}" alt="">
                        <div class="hover">
                            <img src="assets/img-layout/plus.svg" alt="">
                        </div>
                    </figure>
                    <p>{{ magazine.location }}</p>
                    {% if magazine.secondary_location != 'empty' %}
                        <p>{{ magazine.secondary_location }}</p>
                    {% endif %}
                    <div class="button-command">
                        <a href="{{ constant('ROOT_URL') }}revue/{{ magazine.id }}">Voir la revue</a>
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}