{% extends 'layout_front.html.twig' %}

{% block style %}
    <style>
        @media only screen and (max-width: $max-tab) {
            aside ul li {
                display: inline-block;
                width: 120px;
                padding: 10px;
                margin: 10px;
                text-align: center;
                border-radius: 10px;
                line-height: 130%;
                border: 1px solid #15D1E7;
            }

            aside ul {
                display: none;
            }

            aside ul.visible {
                display: block;
            }
        }
    </style>
{% endblock %}


{% block body_nav %}
    <body class="toutes_parutions_body">
{% endblock %}

{% block body %}
<div class="view_all clearfix">
    <h1 class="parutions_title">toutes nos parutions</h1>
    <a href="{{ constant('ROOT_URL') }}nos-dernieres-parutions">Voir les dernières parutions</a>
</div>

    <aside>
        <h2>Par Ville <span class="filtres">(voir tous les filtres)</span></h2>
        <ul>
            {% for location in locations %}
                <li>{{ location.location }}</li>
            {% endfor %}
        </ul>
    </aside>

    <section class="toutes_parutions listing_mags">
    {% for magazine in magazines %}
        <article>
            <a href="{{ constant('ROOT_URL') }}revue/{{ magazine.id }}">
                <figure>
                    <img src="assets/img-content/{{ magazine.image }}" alt="">
                    <div class="hover">
                        <img src="assets/img-layout/plus.svg" alt="">
                    </div>
                </figure>
                <p>{{ magazine.location }}</p>
                {% if magazine.secondary_location != 'empty' %}
                    <p>{{ magazine.secondary_location }}</p>
                {% endif %}
                <div class="button-command">
                    <a href="{{ constant('ROOT_URL') }}revue/{{ magazine.id }}">Voir la revue</a>
                </div>
            </a>
        </article>
    {% endfor %}

    </section>


{% endblock %}

{% block scripts %}
<script src="assets/js/get_api_magazines.js"></script>
{% endblock %}