{% extends "layout_front.html.twig" %}
{% block style %}
    <style>
        .recent-parution .visible {
            display: block;
        }

        [class*="cover-"] {
            display: none;
        }

        .couvertures div {
            position: relative;
            transition: opacity .5s;
        }

<<<<<<< HEAD:views/index.html
<body>
    <div class="full-img">
        <header>
            <nav class="main-nav">
                <span class="bar"></span>
                <ul>
                    <li class="li-active"><a href="#" class="white">Accueil</a></li>
                    <li class="li-active"><a href="#" class="white">Revues</a></li>
                    <li class="li-active"><a href="#" class="white">Commandes</a></li>
                    <li><a href="#"><img src="assets/img-layout/logo.svg" class="logo"></a>
                    </li>
                    <li class="li-active"><a href="#" class="white">Appel d'offre</a></li>
                    <li class="li-active"><a href="#" class="white">Actualités</a></li>
                    <li class="li-active"><a href="#" class="white">Contact</a></li>
                </ul>

                <h1 class="white">Toute l’actualité de l’architecture et de la construction</h1>
            </nav>
            <div class="burger">
                <div class="burger-slice"></div>
                <div class="burger-slice"></div>
                <div class="burger-slice"></div>
             </div>

             <div class="menu-burger active">
                 <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Revues</a></li>
                    <li><a href="#">Commandes</a></li>
                    <li><a href="#">Appel d'offre</a></li>
                    <li><a href="#">Actualités</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><img src="assets/img-layout/multiply.svg" class="cross">
                 </ul>
             </div>
        </header>
     
=======
        .cover-infos {
            display: none;
        }

        .buttons_carousel {
            position: absolute;
            width: 100%;
            padding: 150px 20px;
        }
        .prev {
            float: left;
        }

        .next {
            float: right;
        }

    </style>
{% endblock %}
{% block full_img %}
    <div class="full-img">
{% endblock %}
 {% block post_header %}
>>>>>>> befd579738c0b86a5b8b706ecc4b03e7ec404176:views/front_index.html.twig
            <section class="carrousel-actu">
                <div class="first-actu">
                    <h2><a href="#">Aren’Ice, le temple des loisirs de glace conçu par Chabanne et Partenaires</a></h2>
                </div>
                <div class="second-actu">
                    <h2><a href="#">Dominique Perrault et Gaëlle Lauriot-Prévost réhabilitent le pavillon Dufour au Château de Versailles</a></h2>
                </div>
                <div class="third-actu">
                    <h2><a href="#">Schaudepot, un nouveau bâtiment sur la campus Vitra</a></h2>
                </div>
                <div class="fourth-actu">
                    <h2><a href="#">Cavrois et Noailles, deux villas résistantes</a></h2>
                </div>
                <div class="slider-bars">
                    <div class="slider-bar"></div>
                    <div class="slider-bar"></div>
                    <div class="slider-bar"></div>
                    <div class="slider-bar"></div>
                </div>
            </section>
    </div>
{% endblock %}
{% block body %}
    <section class="recent-parution">
        <h2>Nos dernières parutions</h2>
        <div class="couvertures">
            {% set i = 0 %}
            {% for magazine in magazines %}
                {% if i == 0 %}
                <div class="cover-{{ classes[i] }} visible">
                {% else %}
                <div class="cover-{{ classes[i] }}">
                {% endif %}
                    <a href="#"><img src="/assets/img-content/{{ magazine.image }}"></a>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
        </div>
        {% set i = 0 %}
        {% for magazine in magazines %}
            {% if i == 0 %}
            <div class="cover-infos visible">
            {% else %}
            <div class="cover-infos">
            {% endif %}
                <div class="infos-left">
                    <p>{{ magazine.location }}</p>
                    <p>ÉDITION <span class="edition">{{ magazine.date }}</span></p>
                </div>
                <div class="infos-right">
                    <p>Rencontre avec...</p>
                    <p>Fabien Doré</p>
                    <p>DORÉ & MARTON</p>
                    <p>Périne Huguet</p>
                    <p>ATELIER 13</p>
                </div>
                <div class="button-command">
                    <a href="#" title="">Commander</a>
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
        <div class="buttons_carousel">
            <button class="prev">prev</button>
            <button class="next">next</button>
        </div>
    </section>
    <section class="about clearfix">
        <div class="introduction">
            <div class="who-1">
                <h2>Qui sommes-nous ?</h2>
                <img src="/assets/img-content/about-1.png">
            </div>
            <div class="text">
                <p>Depuis 1990, la revue "L'Architecture de votre région" propose un panorama détaillé de l'architecture d'une région, d'un territoire ou d'un pays.</p>
                <p>Les sondages réalisés attestent de sa durée de vie et par son aspect référentiel, de sa fréquente consultation.</p>
                <p>Une part prépondérante est laissée à "l'image" - le soin apporté aux reproductions photographiques est la garantie d'une attention particulière des lecteurs.</p>
                <p>La revue "L'Architecture de votre région" est le témoignage des hommes qui construisent aujourd'hui. Elle constitue ainsi la vitrine de leur création.</p>
                <p>Par sa diffusion ciblée, c'est aussi un support d'une exceptionnelle efficacité et porteur d'image pour tous les partenaires rédacteurs, entreprises, institutionnels et sociétés qui y participent.</p>
            </div>
        </div>

        <div class="approach">
            <div class="approach-1">
                    <img src="/assets/img-content/about-2.png">
                    <h2>une approche régionale</h2>
                </div>
            <div class="text">
                <p>Véritable vitrine de la création architecturale d'une région ou d'un pays, elle est réalisée avec le concours des architectes représentatifs de la construction, du bâtiment, de l'urbanisme, de l'environnement et de l'aménagement du territoire.</p>
                <p>Pour chaque architecte volontaire et dans chaque région, un reportage complet est publié avec son logo, ses coordonnées, sa raison sociale, 3 à 4 photos par réalisation et un rédactionnel détaillé auxquels s'ajoute une fiche technique comprenant maâtre d'ouvrage, maître d’oeuvre, surface, durée, coût des travaux, entreprises, fabricants et fournisseurs utilisés.</p>
            </div>           
        </div>

        <div class="presence">
            <div class="presence-1">
                <img src="/assets/img-content/about-3.png">
                <h2>une présence, régionale, nationale et internationale</h2>
            </div>
            <div class="text">
                <p>Ce travail de fourmis permet de présenter l'actualité architecturale en région. Chaque revue devient donc un véritable outil de travail pour les professionnels de l'architecture et de la construction appartenant ou non à la région concernée (architectes, bureaux d'études, bureaux d'ingénierie, professionnels du BTP, conseils régionaux, généraux, mairies, HLM, SEM, Préfectures, DDE, promoteurs, CCI, PME-PMI).</p>
                <p>Ainsi, la revue est une vitrine pour chaque architecte, quelle que soit sa taille et sa situation géographique. De même, l'annonceur peut définir l'étendue de sa campagne : la limiter à une seule région, l'étendre à plusieurs régions ou à un pays.</p>
                <p>En effet, la présence de la revue dépasse le cadre hexagonal. En Outre-mer, la Martinique, la Guadeloupe, la Réunion et la Guyane. En Europe, la Belgique et la Suisse.</p>
                <p>Sur le site www.larchitecture.com accédez à la plus grande base d'appels d'offres franûais et internationaux, publics et privés. Vous pouvez consulter les offres par zones géographiques, types de marché, savoir-faire, matières travaillées, etc. Ce site a pour ambition de devenir le site portail de l'architecture et de la construction.</p>
            </div>
        </div>
    </section>
<<<<<<< HEAD:views/index.html
    </main>
    <footer>
        <div class="mentions">
            <h3>Mentions légales</h3>
            <p>Groupe SOFRE&COM</p>
            <p>Société Française d’Édition et de Communication</p>
            <p>9/11 rue Jacquard</p>
            <p>93315 Le Pré Saint Gervais cedex</p>
            <p>France</p>
        </div>
        <div class="footer-logo">
            <img src="assets/img-layout/logo.svg">

        </div>
    </footer>


</body>
<script src="assets/js/script.js"></script>
<script src="assets/js/nav.js"></script>

</html>
=======
    {% endblock %}
{% block scripts %}
    <script src="/assets/js/script.js"></script>
{% endblock %}
>>>>>>> befd579738c0b86a5b8b706ecc4b03e7ec404176:views/front_index.html.twig
