<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Page Admin{% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <style>
        .table-cell{
            vertical-align: middle;
        }

        .table img {
            display: block;
            width:100px;
            height: 100px;
        }

        h1 {
            font-family: Arial;
        }

        .table-head .table-cell {
            font-family: Arial;
            font-size: 1.2em;
            color: #025aa5;
        }

        .table a {
            color : #0000EE;
        }

        .btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.25;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .5rem 1rem;
            font-size: 14px;
            border-radius: .25rem;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

        form {
            width: 70%;
            margin: 0 auto;
        }

        form input {
            display: block;
            margin: 10px 0 20px;
        }

        form label {
            font-size: 20px;
        }

        .title input {
            width: 100%;
            font-size: 18px;
            font-weight: 700;
            padding: 5px;
        }

        .synopsis textarea {
            display: block;
            width: 100%;
            font-size: 16px;
            margin: 10px 0 20px;
            padding: 10px;
        }

        .actuNews {
            padding-top: 1%;
        }

        .images div {
            float: left;
            width: 50%;
        }

        .test {
            clear: both;
        }

        .test div {
            float: left;
            width: 50%;
        }

        .location {
            clear: both;
        }

        .location div {
            float: left;
            width: 50%;
        }

        input[type="submit"],
        .submit {
            display: block;
            width: 200px;
            text-transform: uppercase;
            margin: 150px auto auto auto;
            cursor: pointer;
            padding: 20px 20px;
        }

        input.actuInput {
            display: block;
            width: 200px;
            text-transform: uppercase;
            margin: 50px auto auto auto;
            cursor: pointer;
            padding: 20px 20px;
        }

        .informations {
            font-size: 18px;
        }

        .main {
            padding-left: 20px;
        }

        .informations div {
            margin: 10px 0;
        }

        .informations p {
            margin: 10px 0;
        }

        .informations .label_message {
            margin: 40px 0 20px;
        }


        .contact_infos  {
            display: flex;
            justify-content: space-around;
        }

        h1 span {
            border-bottom: 2px solid black;
        }


        .location p {
            float: left;
            width: 50%;
            margin: 20px 0;
        }

        .link_date p {
            margin: 20px 0;
        }

        .btn-success {
            color: #fff;
            background-color: #5cb85c;
            border-color: #5cb85c;
        }


        .synopsis {
            margin-bottom: 40px;
        }

        .synopsis p:first-child {
            margin-bottom: 10px;
        }

        .image_mag p {
            margin-bottom: 10px;
        }

        main article {
            width: 90%;
            margin: 0 auto;
            padding-top: 2%;
        }

        main h2 {
            width: 100%;
            text-align: center;
        }

        .contentCommande {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 0 auto 4% auto;
        }

        .contentCommande p {
            text-align: left;
        }

        .contentCommande > p {
            display: block;
        }

        .contentCommande p span {
            float: right;
        }

        .factureCommande {
            display: flex;
            justify-content: flex-end;
        }

        .factureCommande .factureFlex {
            width: 50%;
        }

        .factureCommande  .factureFlex p {
            text-align: left;
        }

        .factureCommande .factureFlex p span {
            float: right;
        }

        .headerContentCommande {
            width: 50%;
            margin: 0 auto;
        }

        .localCommande p.title,
        .contactCommande p.title,
        .factureFlex p.title {
            font-size: 1.3em;
            margin-bottom: 1%;
        }

        .localCommande p,
        .contactCommande p,
        .factureFlex p {
            text-align: left;
        }

        .localCommande p span,
        .contactCommande p span,
        .factureFlex p span {
            float: right;
        }

        .localCommande,
        .contactCommande,
        .factureFlex {
            margin-bottom: 5%;
        }
    </style>
</head>
<body>
<aside>
    <nav>
        <a href="{{ constant('ROOT_URL') }}" class="home">Retour au site</a>
        <a href="{{ constant('ROOT_URL') }}admin/">Home</a>
        <a href="{{ constant('ROOT_URL') }}admin/">Magazines</a>
        <a href="{{ constant('ROOT_URL') }}admin/add" class="is_child">Ajouter un Magazine</a>
        <a href="{{ constant('ROOT_URL') }}admin/actualites">Actualités</a>
        <a href="{{ constant('ROOT_URL') }}admin/actualites/add" class="is_child">Nouvelle Actualité</a>
        <a href="{{ constant('ROOT_URL') }}admin/contact">Messages</a>
        <a href="{{ constant('ROOT_URL') }}admin/partenaires">Partenaires</a>
        <a href="{{ constant('ROOT_URL') }}admin/commandes">Commandes</a>
    </nav>
</aside>
<main>
{% block body %}
{% endblock %}
</main>

</body>
</html>