{% extends "layout_admin.html.twig" %}

{% block body %}
    <div class="table">
        <div class="table-row table-head">
            <div class="table-cell">Nom</div>
            <div class="table-cell">Ville</div>
            <div class="table-cell">Pays</div>
            <div class="table-cell">Mail</div>
            <div class="table-cell">Zone Geographique</div>
            <div class="table-cell">Revue</div>
            <div class="table-cell">Quantite</div>
            <div class="table-cell">Type</div>
            <div class="table-cell">Date</div>
        </div>
        {% for commande in commandes %}
            <a href="/admin/commandes/{{ commande.id }}" class="table-row">
                <div class="table-cell">{{ commande.nom }}</div>
                <div class="table-cell">{{ commande.ville }}</div>
                <div class="table-cell">{{ commande.pays }}</div>
                <div class="table-cell">{{ commande.mail }}</div>
                <div class="table-cell">{{ commande.zone_geographique }}</div>
                <div class="table-cell">{{ commande.revue }}</div>
                <div class="table-cell">{{ commande.quantite }}</div>
                <div class="table-cell">{{ commande.type }}</div>
                <div class="table-cell">{{ commande.date }}</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

