{% extends "layout_admin.html.twig" %}

{% block body %}
<h1><span>Titre :</span> {{ magazine.title }}</h1>
<div class="main">
    <div class="synopsis">
        <p class="label_message">Synopsis :</p>
        <p>{{ magazine.synopsis }}</p>
    </div>

    <div class="synopsis">
        <p class="label_message">Numéro du Magazine</p>
        <p>{{ magazine.number }}</p>
    </div>

    <div class="images">
        <div class="image_mag">
            <p>Image</p>
            <img src="/assets/img-content/{{ magazine.image }}" alt="">
        </div>
        <div class="image_mag">
            {% if magazine.secondary_image %}
                <p>Image Secondaire</p>
                <img src="/assets/img-content/{{ magazine.secondary_image }}" alt="">
            {% endif %}
        </div>

    </div>
    <div class="link_date" style="clear: both;margin-top: 20px;">
        <p>Alternative Première image : {{ magazine.alt }}</p>
        {% if magazine.secondary_alt %}
            <p>Alternative Seconde Image : {{ magazine.secondary_alt }}</p>
        {% endif %}
    </div>
    <div class="location">
        <p><span>Localisation primaire :</span> {{ magazine.location }}</p>
        {% if magazine.secondary_location %}
            <p><span>Localisation secondaire :</span> {{ magazine.secondary_location }}</p>
        {% endif %}
    </div>

    <div class="link_date">
        <p>Publié courant {{ magazine.date }}</p>
        <span>Lien vers le PDF du magazine : </span>
        <a href="{{ magazine.link }}">{{ magazine.link }}</a>
    </div>
    <div style="display: flex;justify-content: center;width: 60%;margin-bottom: 20px;">
        <a href="{{ constant('ROOT_URL') }}admin/{{ magazine.id }}/edit" class="submit btn btn-success">Editer l'article</a>
        <a href="{{ constant('ROOT_URL') }}admin/{{ magazine.id }}/delete" class="btn btn-danger submit">Supprimer</a>
    </div>
</div>
{% endblock %}