{% extends "layout_admin.html.twig" %}

{% block body %}
<h1>C'est l'article {{ magazine.title }}</h1>

<p>{{ magazine.content_full }}</p>

<img src="/assets/img-content/{{ magazine.image }}" alt="">

{% if magazine.secondary_image %}
    <img src="/assets/img-content/{{ magazine.secondary_image }}" alt="">
{% endif %}

<a href="/admin/{{ magazine.id }}/edit">Editer l'article</a>
{% endblock %}